############################
# ENVIRONMENT VARIABLES
############################
.env
.env.local
.env.development
.env.production

############################
# NODE DEPENDENCIES
############################
node_modules/

############################
# LOG FILES
############################
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# BUILD / DIST
############################
dist/
build/

############################
# FILE UPLOADS (User Files)
############################
uploads/

############################
# OS FILES
############################
.DS_Store
Thumbs.db

############################
# IDE / EDITOR SETTINGS
############################
.vscode/
.idea/

############################
# TEST COVERAGE
############################
coverage/